#contactCollapse {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

#contactCollapse .card-second-background {
  background: #F2F1ED;
}

#contactCollapse .card-background {
  background: #7D314C;
}

#contactCollapse .card-background .card-body a {
  font-size: 1.2em;
  color: #fff;
}

#contactCollapse .card-background .card-body a i.fa-linkedin {
  color: #0077B5;
  font-size: 1.5em; 
  padding-left: 15px;
}

#contactCollapse .card-background .card-body a i.fa-github {
  color: #fff;
  font-size: 1.5em;
  padding-left: 30px;
  padding-top: 15px;
}

#contactCollapse .card-background .card-body a i.fa-twitter{
  color: #1DA1F2;
  font-size: 1.5em;
  padding-left: 33px;
  padding-top: 20px;
}